#comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding: 1rem;
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    margin-bottom: 2vh;
  }
  
  #comment-img-container {
    width: 10vh;
  }
  
  #user-comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 0.5px solid grey;
    background-color: azure;
  }
  
  .comment-actions {
    display: flex;
    gap: 0.5rem;
    color: gray;
    margin-top: 5px;
  }
  
  #edit-comment, #delete-comment {
    border: none;
    background: none;
    color: darkgray;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  #edit-comment:hover, #delete-comment:hover {
    color: #0056b3;
  }
  
  #comment-content-container {
    margin-left: 0.5vw;
    flex-grow: 1;
  }
  
  #comment-content-user {
    font-size: 0.8rem;
    color: rgb(145, 144, 144);
  }
  
  #comment-timestamp {
    font-size: 0.3rem;
    color: gray;
  }
  
  #reply-user {
    font-size: 0.8rem;
    color: gray;
  }
  
  #comment-content-body, .reply-content-body {
    font-size: 1rem;
  }
  
  .reply-button {
    font-size: 0.8rem;
    color: rgb(79, 70, 229);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  #reply-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  #reply-input {
    resize: none;
    border: 0.5px solid lightgray;
    height: 10vh;
    width: 100%; /* Ensure it doesn't exceed the container width */
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .submit-button, .cancel-button {
    padding: 12px 24px;
    margin-top: 2%;
    border: none;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: #6b46c1;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .submit-button:hover, .cancel-button:hover {
    transform: scale(1.1);
    background-color: #5a39a7;
    color: white; /* Ensure text color stays white */
  }
  
  .edit-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  #replies-container {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  
  #reply-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .reply-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: gray;
  }
  
  .upvote-button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(79, 70, 229);
    display: flex;
    align-items: center;
  }
  