#create-comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  #create-comment-input {
    resize: none;
    border: 1px solid lightgray;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
  }
  
  #submit-comment-button {
    padding: 12px 24px;
    margin-top: 2%;
    border: none;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: #6b46c1;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  #submit-comment-button:hover {
    transform: scale(1.1);
    background-color: #5a39a7; /* Slightly darker shade of purple */
  }
  