.rating-container {
    margin-top: 20px;
}
  
.user-rating {
    display: flex;
    align-items: center;
}
  
.user-rating p {
    margin-right: 10px;
}
  
.edit-button,
.cancel-button,
.delete-button {
    padding: 12px 24px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: #6b46c1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
.edit-button:hover,
.cancel-button:hover,
.delete-button:hover {
    transform: scale(1.1);
    background-color: #5a39a7;
    color: white; /* Ensure text color stays white */
}
  
.rating-edit {
    display: flex;
    align-items: center;
}
  
.rating-edit p {
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
