.popupContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}

.popupItem {
  display: flex;
  gap: 10px;

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
