.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the home page full height */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 10px;
  width: 100%; /* Set the width to 100% */
  max-width: 2000px; /* Limit the maximum width for better responsiveness */
  margin: 0 auto; /* Center align horizontally */
}

.filter-button {
  padding: 10px 20px;
  background-color: #6b46c1;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.filter-button:hover {
  /* background: linear-gradient(to bottom, #917afd, #6246ea); */
  transform: scale(1.1);
}

.cancel-filter-button {
  padding: 0px 0px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.cancel-filter-button:hover {
  transform: scale(1.1);
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1; /* Make main content take remaining space */
  overflow: hidden; /* Prevent main content from overflowing */
}

.hostel-list-section {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-left: 20px; /* Add margin to the left of the card components */
}

.hostel-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-explore-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.map-container {
  margin-top: 20px;
  width: 100%;
  height: 600px; /* Increase the height of the map component */
  position: relative; /* Keep map position static */
}

.map-image {
  max-width: 100%;
  border-radius: 10px;
}

.login-info {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .map-container {
    height: 500px; /* Adjusted height for smaller screens */
  }
}
