@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  * {
    box-sizing: border-box;
  }
  